@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #0056b3;
  /* UIT Blue */
  --primary-dark: #004494;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .glass-hover:hover {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .text-gradient {
    background: linear-gradient(to right, #0056b3, #00a8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}